{
  "presets": [
    ["env", {"targets": {"browsers": ["Chrome >= 62"]}}]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}
