body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #000;
  color: #fff;
  display: flex;
  width: 100%;
}

.logo {
  display: block;
  font-family: DecimaMonoPro, monospace;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0;
}

.letter {
  display: inline-block;
}
